*.cache
*.eld
*elc
*~
*.eln
*.orig
transient
auto-save-list/**
emacs.d/eln-cache
emacs.d/.cask
emacs.d/.python-environments
emacs.d/ac-comphist.dat
emacs.d/auto-save-list
emacs.d/bookmarks
emacs.d/elpa
emacs.d/network-security.data
emacs.d/session.*
emacs.d/tramp
emacs.d/url/cookies
emacs.d/recentf
emacs.d/ido.last
emacs.d/smex-items
emacs.d/abbrev_defs
emacs.d/transient
