*.cache
*.eld
*elc
*~
auto-save-list/**
emacs.d/.cask
emacs.d/.python-environments
emacs.d/ac-comphist.dat
emacs.d/auto-save-list
emacs.d/bookmarks
emacs.d/elpa
emacs.d/network-security.data
emacs.d/session.*
emacs.d/tramp
emacs.d/url/cookies
